<button class="accordion"><strong>{{post.title}}</strong>
  <span class="shareLink">
    <a onclick="myFunction('{{post.id}}')" class="btn btn-default btn-copy js-tooltip js-copy" data-toggle="tooltip" data-placement="bottom"  title="Copy to clipboard" id="link_{{post.id}}" value="https://cscygraduates.github.io/{{site.baseurl}}{{page.url}}/{{post.id}}">
    <i class="fa-solid fa-share-from-square"></i></a></span>
    <!-- <strong><a id="CopLink" class="shareLink" id="shareLink{{post.currentId}}" value="http://127.0.0.1:4000{{site.baseurl}}{{page.url}}/{{post.currentId}}">Share link</a></strong> -->
</button> 
    {% assign my_array = {{post.id}} | split: "/" | last %}
<div class="panel" id={{my_array}}>
    <p>{{post.content}}</p>
</div>

<script>
  
  function myFunction(postId) { 
    var copyText = document.getElementById("link_"+postId);
    var postUniqueId = "";
    postUniqueId = postId.split("/").pop();
    var postCopiedLink = "";
    var checkLastSelectedAccordion = copyText.baseURI.split("/").pop();
    if(checkLastSelectedAccordion.includes('.html')){
      postCopiedLink = copyText.baseURI+"/"+postUniqueId;
    } else { 
      var modifiedUrl = copyText.baseURI.split("/").slice(0, -1).join('/')
      postCopiedLink = modifiedUrl+"/"+postUniqueId;
    }
    navigator.clipboard.writeText(postCopiedLink);
    var successful = document.execCommand('copy');
      var msg = successful ? 'Copied!' : 'Whoops, not copied!';
     $(copyText).attr('data-original-title', msg).tooltip('show');
  }
  </script>