<header>

    <div class=row>
        <a class=col-3 href=../index.html><img src="https://semo-cscy.notion.site/image/https%3A%2F%2Fs3-us-west-2.amazonaws.com%2Fsecure.notion-static.com%2F659091e9-71af-45fb-9941-0a685f0c4e23%2FUntitled.png?table=block&id=a2f12d10-fd31-4b79-aa74-ea5f5fc3eedd&spaceId=4021a294-21ef-4cd2-90d8-f2296171446b&width=2000&userId=&cache=v2" alt="SEMO Logo"></a>
        <h1 class= col-9>Ask Rowdy - Student Help Center</h1>
    </div>
    <div class=row>
        <div class="topnav" class=col-12>
          <a href="#home" class="active-mobile">New Students</a>
          <!-- Navigation links (hidden by default) -->
          <div id="myLinks">
            <a href="#news">Computer Science</a>
            <a href="#contact">CyberSecurity</a>
          </div>
          <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
          <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
        </div>
        <nav id="nav_menu" class=col-12>
            <ul>
                <li><a href="index.html" class= "current">Prospective Students</a>
                <li><a href="new-students.html">New Students</a>
                <li><a href="current-students.html">Current Students</a>
            </ul>
        </nav>
    </div>
      
    <script>
        function myFunction() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }
    </script>
    </header>