<div class="center">
<div class="quickResponse">
    To receive quick responses when you send an email to the academic advisor or administrative assistant <a href="mailto:CSgradprograms@semo.edu">CSgradprograms@semo.edu</a>, always send us your <strong>Student SEMO ID and copy of your DegreeWorks </strong>  so that lookup becomes faster.

Please allow us <strong>24-48</strong> hours for responding to your email.
</div>
<div class="disclaimer">
    <strong>DISCLAIMER:</strong> This webpage is maintained by Dr. Reshmi Mitra and Dr. Bob Lowe (Computer Science department) for informational purposes only. No commercial purposes intended. If you find any error in any page, pls contact her at <strong>rmitra@semo.edu.</strong>
</div>
</div>