<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Help Center: CS Grad Student</title>
</head>
<body>
    {% include header-new.html %}
    <main>
        {% include cs-cy-buttons.html %}
        <div class=row>
            {% include image.html %}
            <!--Due to the way the HTML is written the mobile-aside.html needs to stay above accordions.html in this HTML file. 
                This is how I was able to get this menu above the accordions instead of besided them in a mobile viewport. WH-->
            <aside class= col-3 id="mobile-aside">
                <button onclick="window.location.href='../new-students/programs.html';">Programs</button>
                <button onclick="window.location.href='../new-students/admissions.html';">Admission</button>
                <button onclick="window.location.href='../new-students/tuition_and_scholarship.html';">Tuition and Scholarship</button>
                <button onclick="window.location.href='../new-students/jobs.html';">Jobs</button>
                <button onclick="window.location.href='../new-students/enrollment.html';">Enrollment</button>
                <button onclick="window.location.href='../new-students/faq.html';">FAQ</button>
                <button onclick="window.location.href='../new-students/quick_links.html';">Quick Links</button>
                <button onclick="window.location.href='../new-students/graduation.html';">Graduation</button>
            </aside>
            <section id=accordion-content class=col-7>
            {% for post in site.posts %}
            {% if post.categories contains page.categories[1] %}      
                {% include accordions.html %}
            {% endif %}
            {% endfor %}
            </section>
            <aside class= col-3 id="desktop-aside">
                <button onclick="window.location.href='../new-students/programs.html';">Programs</button>
                <button onclick="window.location.href='../new-students/admission.html';">Admission</button>
                <button onclick="window.location.href='../new-students/tuition_and_scholarship.html';">Tuition and Scholarship</button>
                <button onclick="window.location.href='../new-students/jobs.html';">Jobs</button>
                <button onclick="window.location.href='../new-students/enrollment.html';">Enrollment</button>
                <button onclick="window.location.href='../new-students/faq.html';">FAQ</button>
                <button onclick="window.location.href='../new-students/quick_links.html';">Quick Links</button>
                <button onclick="window.location.href='../new-students/graduation.html';">Graduation</button>
            </aside> 
        </div>
        <script>
            var acc = document.getElementsByClassName("accordion");
            var i;
    
            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function() {
                    /* Toggle between adding and removing the "active" class,
                    to highlight the button that controls the panel */
                    this.classList.toggle("active");
    
                /* Toggle between hiding and showing the active panel */
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                      panel.style.display = "none";
                    } else {
                      panel.style.display = "block";
                }
              });
            }
        </script>
    </main>
    {% include footer.html %}
</body>
<html>