<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{site.baseurl}}/styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Help Center: CS Grad Student</title>
</head>
<body>
  <style>
    .nav-tabs{
      padding-left: 70px;
    }
    .nav-tabs>li>a{
      border-radius: .5em;
      background-color: #C8102E;
      color: white;
      width: 250px;
      margin-left: 10px;
      text-align: center;
    }
    .nav-tabs>li>a:hover{
      background-color: #C8102E;
      color: white;
    }
    .nav-tabs>li.active>a{
      background-color: black !important;
      color: white !important;
    }
    .activeTab {
      background-color: #C8102E !important;
      color: white;
    }
  </style>
    {% include header-prospective.html %}
    <main>
        <div class=row>
          <div class="col-md-2">
            {% include image.html %}
          </div>
          <div class="col-md-10">
           
            <!--Due to the way the HTML is written the mobile-aside.html needs to stay above accordions.html in this HTML file. 
                This is how I was able to get this menu above the accordions instead of besided them in a mobile viewport. WH-->
           
            <ul class="nav nav-tabs">
                <li><a data-toggle="tab" class="cs-cy-buttons" href="#home">Computer Science</a></li>
                <li><a data-toggle="tab" class="cs-cy-buttons" href="#menu1">Cybersecurity</a></li>
              </ul>
            
              <div class="tab-content">
                <div id="home" class="tab-pane fade in active">
                  <aside class= col-3 id="mobile-aside">
                      <button onclick="window.location.href='{{site.baseurl}}/prospective-students/programs.html';">Programs</button>
                      <button onclick="window.location.href='{{site.baseurl}}/prospective-students/admission.html';">Admission</button>
                      <button onclick="window.location.href='{{site.baseurl}}/prospective-students/tuition_and_scholarship.html';">Tuition and Scholarship</button>
                      <button onclick="window.location.href='{{site.baseurl}}/prospective-students/jobs.html';">Jobs</button>
                      <button onclick="window.location.href='{{site.baseurl}}/prospective-students/enrollment.html';">Enrollment</button>
                      <button onclick="window.location.href='{{site.baseurl}}/prospective-students/faq.html';">FAQ</button>
                      <button onclick="window.location.href='{{site.baseurl}}/prospective-students/apply_now.html';">Apply Now</button>
                  </aside>  
                  <section id=accordion-content class=col-8>

                    {% for post in site.posts %}
  
                       {% if post.categories contains page.categories[1] %}      

                           {% if post.subtitle == "Subsection" %}
                           
                             {% unless post.program == "cyber" %}
                             
                                {% include accordions.html %}
                        
                             {% endunless %}
                              
                           {% endif %}
                           
                       {% endif %}
         
                     {% endfor %}
  
                     <div>
                       <button class="accordion">FAQ</button>
                       <div class="panel">
                          {% for post in site.posts %}
  
                            {% if post.categories contains page.categories[1] %}      
  
                                {% if post.subtitle == "FAQ" %}
                                
                                {% include accordions.html %}
  
  
                                {% endif %}
  
                            {% endif %}
              
                          {% endfor %}
                        </div>
               
                       </div>
                     </section>
                    <aside class= col-4 id="desktop-aside">
                        <button onclick="window.location.href='{{site.baseurl}}/prospective-students/programs.html';">Programs</button>
                        <button onclick="window.location.href='{{site.baseurl}}/prospective-students/admission.html';">Admission</button>
                        <button onclick="window.location.href='{{site.baseurl}}/prospective-students/tuition_and_scholarship.html';">Tuition and Scholarship</button>
                        <button onclick="window.location.href='{{site.baseurl}}/prospective-students/jobs.html';">Jobs</button>
                        <button onclick="window.location.href='{{site.baseurl}}/prospective-students/enrollment.html';">Enrollment</button>
                        <button onclick="window.location.href='{{site.baseurl}}/prospective-students/faq.html';">FAQ</button>
                        <button onclick="window.location.href='{{site.baseurl}}/prospective-students/apply_now.html';">Apply Now</button>  
                    </aside> 
                </div>
                <div id="menu1" class="tab-pane fade">
                  <aside class= col-3 id="mobile-aside">
                      <button onclick="window.location.href='{{site.baseurl}}/prospective-students/programs.html';">Programs</button>
                      <button onclick="window.location.href='{{site.baseurl}}/prospective-students/admission.html';">Admission</button>
                      <button onclick="window.location.href='{{site.baseurl}}/prospective-students/tuition_and_scholarship.html';">Tuition and Scholarship</button>
                      <button onclick="window.location.href='{{site.baseurl}}/prospective-students/jobs.html';">Jobs</button>
                      <button onclick="window.location.href='{{site.baseurl}}/prospective-students/enrollment.html';">Enrollment</button>
                      <button onclick="window.location.href='{{site.baseurl}}/prospective-students/faq.html';">FAQ</button>
                      <button onclick="window.location.href='{{site.baseurl}}/prospective-students/apply_now.html';">Apply Now</button>
                </aside>  
                <section id=accordion-content class=col-8>
                  
                  {% for post in site.posts %}

                     {% if post.categories contains page.categories[1] %}  

                       {% if post.subtitle == "Subsection" %}
                
                         {% unless post.program == "CS" %}
                            
                           {% include accordions.html %}
                
                          {% endunless %}
                             
                         {% endif %}
                         
                      {% endif %}
       
                   {% endfor %}

                   <div>
                     <button class="accordion">FAQ</button>
                     <div class="panel">
                        {% for post in site.posts %}

                          {% if post.categories contains page.categories[1] %}      

                              {% if post.subtitle == "FAQ" %}
                              
                              {% include accordions.html %}


                              {% endif %}

                          {% endif %}
            
                        {% endfor %}
                      </div>
             
                     </div>
                   </section>
                    <aside class= col-4 id="desktop-aside">
                        <button onclick="window.location.href='{{site.baseurl}}/prospective-students/programs.html';">Programs</button>
                        <button onclick="window.location.href='{{site.baseurl}}/prospective-students/admission.html';">Admission</button>
                        <button onclick="window.location.href='{{site.baseurl}}/prospective-students/tuition_and_scholarship.html';">Tuition and Scholarship</button>
                        <button onclick="window.location.href='{{site.baseurl}}/prospective-students/jobs.html';">Jobs</button>
                        <button onclick="window.location.href='{{site.baseurl}}/prospective-students/enrollment.html';">Enrollment</button>
                        <button onclick="window.location.href='{{site.baseurl}}/prospective-students/faq.html';">FAQ</button>
                        <button onclick="window.location.href='{{site.baseurl}}/prospective-students/apply_now.html';">Apply Now</button>
                        <button onclick="window.location.href='{{site.baseurl}}/prospective-students/apply_now.html';">Transfer</button>  
                    </aside>
                </div>
              </div>
            </div>
        </div>
        {% include information.html %}
    </main>
    {% include footer.html %}
    <script>
      var acc = document.getElementsByClassName("accordion");
      var i;

      for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
              /* Toggle between adding and removing the "active" class,
              to highlight the button that controls the panel */
              this.classList.toggle("active");

          /* Toggle between hiding and showing the active panel */
              var panel = this.nextElementSibling;
              if (panel.style.display === "block") {
                panel.style.display = "none";
              } else {
                panel.style.display = "block";
          }
        });
      }

      $(document).ready(function() {
        var Path = window.location.href;
        Path = Path.split("/");
        var selectedCategory = Path[Path.length-1]
        var header = document.getElementsByTagName("aside");
        for (var i = 0; i < header.length; i++) {
          var btns = header[i].children;
          for (var j = 0; j < btns.length; j++) {
            btns[j].className  =  btns[j].className.replace(" activeTab", "");
            var basUri = btns[j].outerHTML;
            var hrefValue = $(basUri).attr("onclick");
            basUri = hrefValue.split("/");
            var selectedasidebtn = basUri[basUri.length-1].replace("';","");
            if(selectedCategory == selectedasidebtn){
              btns[j].className += " activeTab";
            }
          }
        }
      });
      
  </script>
</body>
<html>
